<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This is created by <b>Abhishek hari</b> as a part of Node JS course. This application uses <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a> to geocode the address to location information and <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a> to get weather forcast information. This application is still under developement.</p>
    
</div>    
    {{>footer}}
</body>
</html>